* {

}

html, body {
  height: 100%;
}

body {
  text-align: : center;
  background: linear-gradient(#000000, #1f0648);
  background-color: black;
  font-family: "Gill Sans Extrabold", Helvetica, sans-serif color: white;
}

button {
  background-color: #915e29;
  /* border: brown; */
  color: white;
  padding: 17px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.presetSelector {
  /* height: 1vh; */
  /* position: relative; */
  background-color: rgba(90, 49, 63, 0.58);
  top: 15vh;
  left: 10;
  color: #fff;
  text-align: left;
  font-size: 2vh;
  /* line-height: 20vh; */
  width: 960px;
  border-bottom: 2px solid rgba(255, 255, 255, 2);
  border-top: 2px solid rgba(255, 255, 255, 2);
}

.row {
  color: #0080ff;
}

.btnRead {
  /* height: 1vh; */
  /* position: relative; */
  background-color: rgba(90, 49, 63, 0.58);
  top: 15vh;
  left: 10;
  color: #fff;
  /* text-align: center; */
  font-size: 4vh;
  /* line-height: 20vh; */
  width: 960px;
  border-bottom: 2px solid rgba(255, 255, 255, 2);
  border-top: 2px solid rgba(255, 255, 255, 2);
}

#screen-spacer {
  overflow: hidden;
  height: 460px;
  width: 960px;
}

#screen-wrapper {
  overflow: hidden;
  height: 450px;
  width: 960px;
}

#screen {
  color: blue;
  /* display: flex; */
  align-items: center;
  transition: 500ms ease;
  will-change: transform;
}

@keyframes fade {
  from {
    opacity: 1.0;
  }

  50% {
    opacity: 0.7;
  }

  to {
    opacity: 1.0;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 1.0;
  }

  50% {
    opacity: 0.4;
  }

  to {
    opacity: 1.0;
  }
}

.blink {
  animation: fade 3000ms infinite;
  -webkit-animation: fade 3000ms infinite;
  text-align: center;
}

.kbd {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.1em 0.5em;
    margin: 0 0.2em;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
    background-color: #f7f7f7;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.infoTabla{
    position: relative;
    display: block;
    padding: 0.1rem 0.5rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(100,100,100);
}

.overlay {
  position: absolute;
  bottom: 25%;
  left: 8%;
  background: #17a2b8d4
  color: #f1f1f1;
  width: 83%;
  height: 40%;
  transition: .7s ease;
  opacity: 0;
  font-size: 24px;
  padding: 20px;
  text-align: center;

}

/* When you mouse over the container, fade in the overlay title */
.container:hover .overlay {
  opacity: 1;
}
* {box-sizing: border-box}

/* Container needed to position the overlay. Adjust the width as needed */
.container {
  position: relative;
  /* width: 50%; */
  /* max-width: 300px; */
}

/* Make the image to responsive */
.image {
  display: block;
  width: 100%;
  height: auto;
}

.headerRow{
  background-color: #3f7479;
}
.rowInfo{
  background-color: #181b1f;
}

.infoType{
  background-color: #1f6d49;
}

.btnPress{
  background: #17a2b8d4;
  opacity: 1;
}

.btnHold{
  background: #fec108d4;
  opacity: 1;
}

.dataType{
  background-color: #1f456d;
}

.btn-ripple {
	display: inline-block;
	position: relative;
	overflow: hidden;
	transition: all ease-in-out .5s;
}

.btn-ripple::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 25%;
	height: 100%;
	width: 50%;
	background-color: #000;
	border-radius: 50%;
	opacity: 0;
	pointer-events: none;
	transition: all ease-in-out 1s;
	transform: scale(5, 5);
}

.btn-ripple:active::after {
	padding: 0;
	margin: 0;
	opacity: .2;
	transition: 0s;
	transform: scale(0, 0);
}

.zoom {
  transition: transform .3s;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.08);
}

.carousel-inner img {
      width: 100%;
      height: 100%;
  }
  .tag {
      float: left;
      position: absolute;
      left: 0px;
      top: 0px;
  }
